.main {
	width: 95%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2.5%;
	border-bottom: 1px solid rgb(143, 141, 141);
}

.details {
	margin: 20px;
	font-size: 10px;
}

.name {
	font-size: 18px;
}

.amount {
	margin: 20px;
	font-size: 24px;
}
