.main {
	width: 120px;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0px 15px;
	padding: 0;
	cursor: pointer;
}

img {
	width: 50px;
	height: 50px;
	object-fit: contain;
	border-radius: 50%;
}

.name {
	font-size: 15px;
	font-weight: 500;
}

.headline {
	font-size: 10px;
	font-weight: 0;
}
